.commentList__form{
    display: flex;
    align-items:baseline;
    border: 1px solid black;
    width: 367px;
    padding: 10px;
    margin-top: 10px;
    justify-content: space-between;
    border-radius: 21px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.comment__inputbox{
    width: 300px;
    margin-left: 2px;
}

.comments{
    display: flex;
    flex-direction: column;
}

.comment__creation{
    display: flex;
    justify-content: center;
}